*{
  background-color: black;
  color: white;
  margin: 0px;
}
#object{
  margin-left: 20%;
  margin-top: 20%;
  margin-bottom: 30%;
  background-color: white;
  height: 200;
  width: 200;
  border-radius: 10px;
  
}

button{
  height: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: lightblue;
  color: black;
  border-radius: 20px;
}
